form input {
    width: 240px;
    font-size: 1rem;
}

form button {
    font-size: 1rem;
}

.todo-list {
    min-width: 240px;
    list-style-type: none;
}

.todo {
    background-color: white;
    margin: 0.5rem;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 37px;
    width: 270px;
}

.complete-btn, .trash-btn{
    padding: 0.5rem;
    font-size: 0.5rem;
}

.filter-btn{
    font-size: 0.6rem;
}